/*@import url('css/normalize.css;');*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i');

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: Roboto Condensed;
	background-image: url("../img/background.jpg");
	background-repeat: repeat repeat;
}

/*.main {
	position: relative;
	overflow: hidden;
	min-height: 100%;
 }*/

.wrapper {
	/*position: relative;*/
	max-width: 975px;
	min-width: 975px;
	margin-left: auto;
	margin-right: auto; 
}

/*.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}*/

.offer {
	max-width: 100%;
	min-width: 1124px;
	height: 32px;
	box-shadow: inset 0 -1px 9px rgba(0, 0, 0, 0.22);
	background-color: #ba1f1f;

	padding-top: 8px;
	font-weight: 700;
	font-style: bold;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	line-height: 18px;

}
.offer_discount {
	text-transform: uppercase;
	color: #fde950;
	
}
.offer_delivery {
	color: #fde950;
	font-style: italic;
	
}

.offer_img {
	padding-left: 2px;
    padding-right: 2px;
}
/*logo and h1*/
.header-top {
	overflow: auto;
	margin: 0, auto;
	position: relative;
	padding-top: 18px;
	
	max-width: 984px;
	min-width: 1111px;
	margin-left: auto;
	margin-right: auto; 
}

.logo {
	margin-left: auto;
	margin-right: auto; 
	height: 71px;
	background: url("../img/header-logo.png") no-repeat center center;
}
/*.efficiently {
	position: absolute;
	bottom: 20px;
	right: -70px;
}
*/
/*main*/
.box-set {
	overflow: auto;
	margin: 0 auto;
	position: relative;
	overflow-x: auto;
  	overflow-y: hidden;
	padding-top: 15px;/*greenpopup*/
}

/*.box {
	background-color: grey;
	padding-top: 32px;
	
}*/
.item {
	width: 325px;
	height: 607px;
	background: url("../img/main.png") no-repeat;
	cursor: pointer;
	
}
.amazon {
	height: 72px;
	width: 311px;
	margin-left: 7px;
}
.organize {
	display: inline-block;
	width: 320px;
	height: 706px;
}
.box2 {
	background-position: 0 -607px ;
}

.box2:hover {
	background-position:  0 0;
	margin-bottom: 15px;
}

.bx2 {
	background: url("../img/2am.png");
}

.box6 {
	background-position: -325px -607px; 
}

.box6:hover {
	background-position: -325px 0;
	margin-bottom: 15px;
}

.bx6 {
	background: url("../img/6am.png");
}


.box4 {
	background-position: -650px -607px ;
}

.box4:hover {
	background-position: -650px 0;
	margin-bottom: 15px;

}

.bx4 {
	background: url("../img/4am.png");
}

.green-popup {
	width: 339px;
	height: 76px;
	z-index: 10;
	position: absolute;
	left: 480px;
	top: 0px;
}


.next-step {
	padding-top: 27px;
	padding-bottom: 48px;
	float: right;
}

.videos {
	border-top: 1px solid #45bca8;
	color: #a21f28;
    position: relative;
}

.videos_real {
	padding-top: 40px;
	padding-bottom: 40px;
}

.real {
	text-align: center;
	color: #a21f28;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	line-height: 24px;
}

h2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.video {
	margin: 0 auto;
	position: relative;
	overflow: auto;
	height: auto;
	margin-bottom: 40px;


}

.v1, .v2, .v3 {
	display: inline-block;
	float: left;
	/*padding: 8px 0;*/
	background: #a4a4a4;
	width: 303px;
	height: 170px;
	border: 0;
	padding-top: 7px;

}

.v2, .v3 {
	margin-left: 25px;
}

.footer-content {
	margin-top: 28px;
    margin-bottom: 25px;
}

.footer_links {
	float: right;
	padding-left: 30px;	
}

a {
	color: #375855;
	font-size: 14px;
	font-weight: 300;
	line-height: 34px;
}

.footer-warning {
	border-top: 1px solid  #516b8e;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #70797c;
	font-size: 14px;
	font-weight: 300;
}

.warning {
	color: #375855;
	font-size: 18px;
	font-weight: 400;
}

.trust {
	float: right;
	margin: 5px, 5px, 0, 5px;
}

.copyright {
	color: #70797c;
	font-size: 12px;
	font-weight: 300;
	padding-top: 15px; 
}

.wrap {
	position: fixed;
    width:100%;
    height:100%;
    z-index: 90; 
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    
}

.popup {
	position: absolute;
	min-height: 100%;
	z-index: 100; 
	right: 30%;
	top: 20%;
}

.hidden {
	display: none;
}